.App {
  text-align: center;
  /* background-color: rgb(95, 95, 95); */
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #3e526a 0%,#072142 100%);  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper{
  height: 100%;
  /* display: flex; */
}
.left-wrapper{
  background: #14263a;
}
/* .right-wrapper{
  
} */
#profile-image-container{
  width: 100%;
  height: 100%;
  background-color: #61dafb;
  position: relative;
  background-image: linear-gradient(to bottom right, #d8e2e5,#c2eaf5, #85d9f0,#e3edef,#f4ea9a);
}
#profile-image-container >img{
  width: 100%;
  height: 100%;
  object-fit: cover;
    
}
.backcover{

  position: absolute;
  /* z-index: -4; */
  width: 20%;
  height: 20%;
  background-color: red;
}
.sideBar{
  /* background-color: red; */
  position: relative;
  width: 5%;
}
.left-wrapper-containt{
  position: relative;
  width: 95%;
}


.sideBar_logo_container{
  height: 10%;
  width: 100%;
  -webkit-box-orient: vertical;
  background: #14263a;
  display: flex ;
  align-items: center;
  justify-content: center;
}
.sideBar_logo{
  font-size: 35px;
  color: red;

}
.sideBar_text_container{
  height: 90%;
  background-color: #1d3047;;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sideBar_text{
  color: #fff;
  white-space: nowrap;
  transform: rotate(-90deg);
  text-transform: uppercase;

  font-weight: 700;
  letter-spacing: 0.7em;
}
.sideBar_text >div{
    font-weight: 500;
    color: var(--bs-heading-color);
}

@media only screen and (max-width: 600px) {
  .sideBar{
    width: 35px;
  }
  .sideBar_logo{
    font-size: 30px;
  }
  .sideBar_logo_container{
    height: 7%;
  }
  .sideBar_text_container{
    height: 93%;  
  }
}


