.App {
  /* text-align: center; */
  /* background-color: rgb(95, 95, 95); */
  width: 100vw;
  height: 100vh;
  color: white;
  background: linear-gradient(45deg, #3e526a 0%, #072142 100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.text-red{
  color: #ff4d5a;
}
.text-orange{
  color: #f78446;
}
.text-purpul{
  color: #8a9ff5;
}
.text-green{
  color: #26ba70;
}
.text-dark-yellow{
  color: #ada73e;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  height: 100%;
  /* display: flex; */
}

.left-wrapper {
  background: #14263a;
}

/* .right-wrapper{
  
} */
#profile-image-container {
  width: 100%;
  height: 100%;
  background-color: #61dafb;
  position: relative;
  background-image: linear-gradient(to bottom right, #d8e2e5, #c2eaf5, #85d9f0, #e3edef, #f4ea9a);
}

#profile-image-container>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sideBar {
  /* background-color: red; */
  position: relative;
  width: 5%;
}

.left-wrapper-containt {
  position: relative;
  width: 95%;
}


.sideBar_logo_container {
  height: 10%;
  width: 100%;
  -webkit-box-orient: vertical;
  background: #14263a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sideBar_logo {
  font-size: 35px;
  color: red;

}

.sideBar_text_container {
  height: 90%;
  background-color: #1d3047;
  ;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sideBar_text {
  color: #fff;
  white-space: nowrap;
  transform: rotate(-90deg);
  text-transform: uppercase;

  font-weight: 700;
  letter-spacing: 0.7em;
}

.sideBar_text>div {
  font-weight: 500;
  color: var(--bs-heading-color);
}

/* .mainPage_contianer {
  color: wheat;
} */

.mainPageHeader {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainPageHeader_heading>div {
  font-weight: 900 !important;
  font-size: 2rem;
}

.mainPage_containt {
  height: 75%;

  overflow: scroll;
}

.mainPage_containt::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.mainPage_containt {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

/* -------animation for heading text------- */
.bottom-heading-wrapper {
  display: flex;
}

.bottom-heading-wrapper .static-text {
  color: white;
  font-size: 25px;
  font-weight: 400;
}

.bottom-heading-wrapper .dynamic-texts {
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}


.dynamic-texts li {
  list-style: none;
  color: red;
  font-size: 25px;
  font-weight: 500;
  position: relative;
  /* text-align: left; */
  top: 0;
  animation: slide 8s steps(2) infinite;
}
@keyframes slide {
  100%{
    top:-80px
  }
}

.dynamic-texts li ::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  border-left: 2px solid red;
  background-color: #14263a;
  animation: typing 4s steps(15) infinite;
}

@keyframes typing {
  40%,
  60% {
    left: calc(100%);
  }

  100% {
    right: 0;
  }
}

/* --------------- */



.contentBox{
 min-height: 33vh ;
}
.contentBox_card{
  background-color: #1d3047;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}





@media only screen and (max-width: 600px) {
  .sideBar {
    width: 35px;
  }
  .contentBox{
    min-height: 21vh ;
   }
  .sideBar_logo {
    font-size: 30px;
  }

  .sideBar_logo_container {
    height: 7%;
  }

  .sideBar_text_container {
    height: 93%;
  }
  .mainPageHeader_heading>div {
    font-weight: 900 !important;
    font-size: 1.5rem;
  }
  .mainPage_containt {
    height: 85%;
  }
  .mainPageHeader{
    height: 15%;
  }
  
}
